openapi: 3.0.3
info:
  title: Acceldata - Data Observability Cloud Alerts Pipeline Jobs API
  description: The Acceldata Data Observability Cloud (ADOC) API provides programmatic access to data observability, data quality, pipeline monitoring, alerts, data lineage, and administration features. It enables enterprise teams to integrate Acceldata's observability data into custom workflows, dashboards, and automation pipelines.
  version: 1.0.0
  contact:
    url: https://www.acceldata.io/
  x-generated-from: documentation
servers:
- url: https://api.acceldata.app/v1
  description: Acceldata ADOC API v1
security:
- apiKey: []
tags:
- name: Pipeline Jobs
  description: Monitor data pipeline job execution and health
paths:
  /pipeline-jobs:
    get:
      operationId: listPipelineJobs
      summary: Acceldata List Pipeline Jobs
      description: List all monitored data pipeline jobs with their execution status and health metrics.
      tags:
      - Pipeline Jobs
      parameters:
      - name: status
        in: query
        required: false
        description: Filter by pipeline job status.
        schema:
          type: string
          enum:
          - running
          - succeeded
          - failed
          - pending
        example: failed
      - name: from_time
        in: query
        required: false
        description: Start time for job query range.
        schema:
          type: string
          format: date-time
        example: '2026-04-18T00:00:00Z'
      - name: page
        in: query
        required: false
        description: Page number.
        schema:
          type: integer
          default: 1
        example: 1
      - name: limit
        in: query
        required: false
        description: Results per page.
        schema:
          type: integer
          default: 25
        example: 25
      responses:
        '200':
          description: List of pipeline jobs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineJobList'
              examples:
                listPipelineJobs200Example:
                  summary: Default listPipelineJobs 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - id: job-ghi789
                      name: orders_etl_pipeline
                      platform: databricks
                      status: failed
                      startTime: '2026-04-19T04:00:00Z'
                      endTime: '2026-04-19T04:23:00Z'
                      durationSeconds: 1380
                      slaStatus: violated
                    total: 1
                    page: 1
                    limit: 25
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    PipelineJobList:
      type: object
      description: Paginated list of pipeline jobs
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/PipelineJob'
        total:
          type: integer
          example: 85
        page:
          type: integer
          example: 1
        limit:
          type: integer
          example: 25
    ErrorResponse:
      type: object
      description: Error response
      properties:
        message:
          type: string
          description: Human-readable error message
          example: Unauthorized - invalid or missing API key
        error:
          type: string
          description: Error code
          example: unauthorized
        code:
          type: integer
          description: HTTP-style error code
          example: 401
    PipelineJob:
      type: object
      description: A monitored data pipeline job execution
      properties:
        id:
          type: string
          description: Job execution identifier
          example: job-ghi789
        name:
          type: string
          description: Pipeline job name
          example: orders_etl_pipeline
        platform:
          type: string
          description: Platform running the job
          example: databricks
          enum:
          - databricks
          - airflow
          - glue
          - dataflow
          - spark
        status:
          type: string
          description: Job execution status
          example: failed
          enum:
          - running
          - succeeded
          - failed
          - pending
        startTime:
          type: string
          format: date-time
          description: Job start time
          example: '2026-04-19T04:00:00Z'
        endTime:
          type: string
          format: date-time
          description: Job end time
          example: '2026-04-19T04:23:00Z'
        durationSeconds:
          type: integer
          description: Job duration in seconds
          example: 1380
        slaStatus:
          type: string
          description: SLA compliance status
          example: violated
          enum:
          - met
          - violated
          - at_risk
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: X-API-Key
      description: Acceldata API key for authentication
