openapi: 3.0.3
info:
  title: Acceldata - Data Observability Cloud Alerts Users API
  description: The Acceldata Data Observability Cloud (ADOC) API provides programmatic access to data observability, data quality, pipeline monitoring, alerts, data lineage, and administration features. It enables enterprise teams to integrate Acceldata's observability data into custom workflows, dashboards, and automation pipelines.
  version: 1.0.0
  contact:
    url: https://www.acceldata.io/
  x-generated-from: documentation
servers:
- url: https://api.acceldata.app/v1
  description: Acceldata ADOC API v1
security:
- apiKey: []
tags:
- name: Users
  description: Manage users and user invitations
paths:
  /users:
    get:
      operationId: listUsers
      summary: Acceldata List Users
      description: List all users in the Acceldata organization.
      tags:
      - Users
      parameters:
      - name: page
        in: query
        required: false
        description: Page number.
        schema:
          type: integer
          default: 1
        example: 1
      - name: limit
        in: query
        required: false
        description: Results per page.
        schema:
          type: integer
          default: 25
        example: 25
      responses:
        '200':
          description: List of users
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserList'
              examples:
                listUsers200Example:
                  summary: Default listUsers 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - id: user-jkl012
                      email: analyst@example.com
                      name: Jane Smith
                      role: data_analyst
                      status: active
                      createdAt: '2026-01-05T10:00:00Z'
                    total: 1
                    page: 1
                    limit: 25
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    UserList:
      type: object
      description: Paginated list of users
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/User'
        total:
          type: integer
          example: 50
        page:
          type: integer
          example: 1
        limit:
          type: integer
          example: 25
    ErrorResponse:
      type: object
      description: Error response
      properties:
        message:
          type: string
          description: Human-readable error message
          example: Unauthorized - invalid or missing API key
        error:
          type: string
          description: Error code
          example: unauthorized
        code:
          type: integer
          description: HTTP-style error code
          example: 401
    User:
      type: object
      description: A user in the Acceldata platform
      properties:
        id:
          type: string
          description: User identifier
          example: user-jkl012
        email:
          type: string
          format: email
          description: User email address
          example: analyst@example.com
        name:
          type: string
          description: User full name
          example: Jane Smith
        role:
          type: string
          description: Assigned role
          example: data_analyst
        status:
          type: string
          description: User account status
          example: active
          enum:
          - active
          - inactive
          - invited
        createdAt:
          type: string
          format: date-time
          description: Account creation timestamp
          example: '2026-01-05T10:00:00Z'
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: X-API-Key
      description: Acceldata API key for authentication
