openapi: 3.0.3
info:
  title: Acceldata - Data Observability Cloud Alerts Data Quality Rules API
  description: The Acceldata Data Observability Cloud (ADOC) API provides programmatic access to data observability, data quality, pipeline monitoring, alerts, data lineage, and administration features. It enables enterprise teams to integrate Acceldata's observability data into custom workflows, dashboards, and automation pipelines.
  version: 1.0.0
  contact:
    url: https://www.acceldata.io/
  x-generated-from: documentation
servers:
- url: https://api.acceldata.app/v1
  description: Acceldata ADOC API v1
security:
- apiKey: []
tags:
- name: Data Quality Rules
  description: Manage data quality rules and monitoring policies
paths:
  /data-quality/rules:
    get:
      operationId: listDataQualityRules
      summary: Acceldata List Data Quality Rules
      description: List all data quality monitoring rules configured in the platform.
      tags:
      - Data Quality Rules
      parameters:
      - name: dataset_id
        in: query
        required: false
        description: Filter rules by dataset identifier.
        schema:
          type: string
        example: dataset-abc123
      - name: status
        in: query
        required: false
        description: Filter rules by status (active, inactive).
        schema:
          type: string
          enum:
          - active
          - inactive
        example: active
      - name: page
        in: query
        required: false
        description: Page number.
        schema:
          type: integer
          default: 1
        example: 1
      - name: limit
        in: query
        required: false
        description: Results per page.
        schema:
          type: integer
          default: 25
        example: 25
      responses:
        '200':
          description: List of data quality rules
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataQualityRuleList'
              examples:
                listDataQualityRules200Example:
                  summary: Default listDataQualityRules 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - id: rule-abc123
                      name: Null Check - order_id
                      type: null_check
                      datasetId: dataset-abc123
                      datasetName: orders_table
                      columnName: order_id
                      threshold: 0.0
                      severity: critical
                      status: active
                      createdAt: '2026-01-10T12:00:00Z'
                    total: 1
                    page: 1
                    limit: 25
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: createDataQualityRule
      summary: Acceldata Create Data Quality Rule
      description: Create a new data quality monitoring rule for a dataset column.
      tags:
      - Data Quality Rules
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDataQualityRuleRequest'
            examples:
              createDataQualityRuleRequestExample:
                summary: Default createDataQualityRule request
                x-microcks-default: true
                value:
                  name: Null Check - email
                  type: null_check
                  datasetId: dataset-abc123
                  columnName: email
                  threshold: 1.0
                  severity: high
      responses:
        '201':
          description: Data quality rule created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataQualityRule'
        '400':
          description: Bad request - invalid rule configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    CreateDataQualityRuleRequest:
      type: object
      description: Request body for creating a data quality rule
      required:
      - name
      - type
      - datasetId
      - columnName
      properties:
        name:
          type: string
          description: Rule name
          example: Null Check - email
        type:
          type: string
          description: Type of data quality check
          example: null_check
        datasetId:
          type: string
          description: Dataset identifier to apply the rule to
          example: dataset-abc123
        columnName:
          type: string
          description: Column to monitor
          example: email
        threshold:
          type: number
          format: double
          description: Alert threshold as percentage (0-100)
          example: 1.0
        severity:
          type: string
          description: Severity of alerts triggered by this rule
          example: high
    DataQualityRule:
      type: object
      description: A data quality monitoring rule
      properties:
        id:
          type: string
          description: Unique rule identifier
          example: rule-abc123
        name:
          type: string
          description: Rule name
          example: Null Check - order_id
        type:
          type: string
          description: Type of data quality check
          example: null_check
          enum:
          - null_check
          - uniqueness_check
          - range_check
          - pattern_check
          - freshness_check
          - schema_check
          - custom
        datasetId:
          type: string
          description: Dataset the rule applies to
          example: dataset-abc123
        datasetName:
          type: string
          description: Dataset name
          example: orders_table
        columnName:
          type: string
          description: Column the rule monitors
          example: order_id
        threshold:
          type: number
          format: double
          description: Alert threshold value (percentage or absolute)
          example: 0.0
        severity:
          type: string
          description: Alert severity when rule is violated
          example: critical
          enum:
          - critical
          - high
          - medium
          - low
        status:
          type: string
          description: Rule activation status
          example: active
          enum:
          - active
          - inactive
        createdAt:
          type: string
          format: date-time
          description: Rule creation timestamp
          example: '2026-01-10T12:00:00Z'
    ErrorResponse:
      type: object
      description: Error response
      properties:
        message:
          type: string
          description: Human-readable error message
          example: Unauthorized - invalid or missing API key
        error:
          type: string
          description: Error code
          example: unauthorized
        code:
          type: integer
          description: HTTP-style error code
          example: 401
    DataQualityRuleList:
      type: object
      description: Paginated list of data quality rules
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/DataQualityRule'
        total:
          type: integer
          example: 35
        page:
          type: integer
          example: 1
        limit:
          type: integer
          example: 25
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: X-API-Key
      description: Acceldata API key for authentication
